<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/urlcopy.css">
</head>
<body>
    <div class="container">
        <div class="second-container">
    <% if(shortId){ %>
        <h3><%= shortId %></h3>
  <%  } %>
  <button>Click to copy the text</button>
      </div>
</div>

  <script src=""></script>
</body>
</html>